deployment                 = "production"
master                     = "local[*]"
checkpoint-dir             = "file:///tmp/elsa/checkpoints"
stats-file                 = "/tmp/elsa/stats"
batch-window               = 5
traffic-increase-threshold = 6
scale-factor               = 2
topics                     = "Datacenter,DCOS,Docker,Mesos,Mesosphere,devop,microservice"
consumer-key               = "YOUR STUFF HERE"
consumer-secret            = "YOUR STUFF HERE"
access-token               = "YOUR STUFF HERE"
access-token-secret        = "YOUR STUFF HERE"